.terraform/
*.tfstate
*.tfstate.backup
*.pem
terraform.tfvars
crash.log

# Terraform plan file
tfplan

# Old backup files
*.oldansible_id_rsa
ansible_id_rsa.pub

ansible_id_rsa
ansible_id_rsa.pub
*.old